.home__container {
  width: 100%;
  min-height: 100vh;
  background: #111;
}

.home__container__main {
  transform: translateZ(0);
  animation: bottomToTop linear 1s;
  animation-fill-mode: forwards;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes bottomToTop {
  0% {
    padding-top: 200px;
  }
  100% {
    padding-top: 0;
    position: relative;
  }
}

.home__container__main__left__block {
  width: 340px;
  height: 100vh;
  display: block;
  position: absolute;
  top: 0;
  left: -70px;
  background-color: #ffc107;
  transform: skewX(10deg);
}
.home__container__main__about {
  width: 95%;
  min-height: 100%;
  margin: auto;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  transform: translate(0%, 3%);
}
.home__container__main__about__image {
  width: 450px;
  height: auto;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 7px rgb(0 0 0 / 90%);
  z-index: 10;
  border-radius: 20px;
}

.profile__image {
  width: 400px !important;
  height: 550px !important;
  background-image: url(../Assets/Image/1637824065000_2_1600x2000_ccexpress.png);
  background-size: 140%;
  background-position-y: 50%;
  background-position-x: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.home__container__main__about__image span {
  width: 400px !important;
  height: 550px !important;
}
.home__container__main__about__text {
  width: 100%;
  height: auto;
}
.home__container__main__about__text .title {
  width: 650px;
  margin: 0px auto 25px auto;
}
.home__container__main__about__text .title .title__liner {
  width: 50px;
  height: 6px;
  border-radius: 20px;
  background-color: #ffb400;
  display: inline-block;
}
.home__container__main__about__text .title .title__main {
  color: #ffb400 !important;
  display: inline-block;
  font-size: 55px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__container__main__about__text .title .title__sub__title {
  color: white !important;
  display: inline-block;
  font-size: 55px;
  margin-left: 11%;
  font-weight: 900;
}
.home__container__main__about__text .decprition {
  width: 650px;
  margin: 0px auto 30px auto;
}
.home__container__main__about__text .decprition p {
  font-size: 19px;
  line-height: 35px;
}
.home__container__main__about__text .about__more__info {
  width: 650px;
  margin: auto;
}
.home__container__main__about__text .about__more__info button {
  width: 260px;
  font-size: 15px;
  font-weight: 700;
  padding: 15px 10px 15px 20px;
  border-radius: 27px;
  border: 1px solid #ffb400;
  outline: none;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  z-index: 5;
}
.home__container__main__about__text .about__more__info button:hover span {
  width: 260px;
  height: 50px;
  background-color: #ffb400;
  border-radius: 27px;
  justify-content: flex-end;
  padding-right: 20px;
}

.home__container__main__about__text .about__more__info button p {
  z-index: 10;
  color: rgb(255, 255, 255);
}
.home__container__main__about__text .about__more__info button span {
  width: 50px;
  height: 50px;
  background-color: #ffb400;
  position: absolute;
  top: -2px;
  right: 0px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  transition: all 0.5s;
}
.home__container__main__about__text .about__more__info button span:hover {
  width: 260px;
  height: 50px;
  background-color: #ffb400;
  border-radius: 27px;
  justify-content: flex-end;
  padding-right: 20px;
}
.home__container__main__about__text .about__more__info button span i {
  font-size: 24px;
  color: white;
}
.home__container__change__mode {
}
.home__container__add__animation {
  width: 100%;
  height: 100vh;
  background: #111;
  position: absolute;
  top: 0;
  left: 0;
  animation: topToBottom ease-out 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes topToBottom {
  0% {
    height: 100vh;
  }
  100% {
    margin-top: 100vh;
    height: 0vh;
  }
}
